
@import "~bootstrap/scss/bootstrap.scss";

//body{
    // background-color: black;
//}
form {
    margin: 0;
}

/* LOGIN CLASSES */

.loginForm{
  width: 25rem;
}

.loginInput ::placeholder {
  color: rgb(221, 96, 96);
  font-size: 21px;
  }
