@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
  padding-top: 56px;
}
h1{
  font-family: 'Roboto', sans-serif;
}

/* ASPECT RATIO FOR IMAGE */
.img-aspect{
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}
/* BORDER FOR IMAGE */
.img-rounded{
  border-radius: 2rem;
}
/* CLASS FOR RATING */

// .ratings {
//   background-color: #fff;
//   padding: 54px;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   box-shadow: 0px 10px 10px #E0E0E0
// }

.service-rating {
  font-size:1rem;
}

.stars i {
  font-size: 1rem;
  color: #f0d90b
}

// .rating-text {
//   margin-top: 10px
// }
/* CUSTOM BACKGROUND */
.bg-ligth-green{
  background-color: #eaf8ee !important;
}
/* FOOTER STYLE */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
/* 
    General Styles
*/

// * {
//  border: red 1px solid;
//  }

.linkDecoration{
    text-decoration: none;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.home .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .home .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.home .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
.home .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .home .carousel-item {
    height: 32rem;
  }
  .home .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  /* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .home .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

   /* INPUTS FOR SIGNUPS FORMS
-------------------------------------------------- */

input:focus, textarea:focus, select:focus select form{
    outline: none;
}

.loginInput ::placeholder {
  color: rgb(221, 96, 96);
  font-size: 21px;
}
input {
    border: hidden;
    border-bottom: solid black 1px;
  }

.signupBox{
    height: auto;
}

.signupInput input::placeholder {
    color: rgb(236, 73, 73);
    font-size: 21px;
    }

form {
    margin: 0;
}

/* STYLES FOR LANDING PAGE CAROUSEL */
.landing-img-corousel {
  height: 250px; 
  width: 250px; 
  
}

@media (max-width: 751px) {
  .landing-img-corousel {
    height: 200px; 
    width: 200px; 
    margin-left: 158px; 
    margin-top: 105px;
  }
}