/* 
    General Styles
*/

// * {
//  border: red 1px solid;
//  }

.linkDecoration{
    text-decoration: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

input {
    border: hidden;
    border-bottom: solid black 1px;
  }

.signupBox{
    padding: 2rem;
    height: 30rem;
}

.signupInput ::placeholder{
    color: rgb(236, 73, 73);
    font-size: 21px;
    }